
@import "../base/typography";
/*Colores*/
$colores:
grey,
white,
green,
orange,
black;


/*Tamaños de fuentes*/
$sizes:
2.5rem,
2rem,
1.8rem,
1.5rem,
1rem,
0.95rem;



/*Font-Family*/
$font-family:
'Dancing Script', cursive,
'Square Peg', cursive,
'Nunito', sans-serif;



