
@mixin flexboxaply($display,$justifycontent,$alignintems) {
    display: $display;
    justify-content: $justifycontent;
    align-items: $alignintems;  
}

@mixin borderandpadding ($padding-sr,$border-sr, $margin) {
    padding: $padding-sr;
    border: $border-sr;
    margin: $margin;
    
}







@mixin mapadecolores ($bg-color, $bordercolor, $colorP) {
    background-color: $bg-color;
    border-color: $bordercolor;
    color: $colorP;
}

@mixin transformar($propiedad) {
    -webkit-transform: $propiedad;
    -ms-transform: $propiedad;
    transform: $propiedad;
  }

  