
/*header Santa Raqueta*/
/*navbar*/

header{
    position: sticky;
    top: 0;
    @extend %bordes; 
    padding-bottom: 0.5%;
   

    nav {  
        display: flex;
        align-items: center;  
        justify-content: center;
        align-content: space-between;    
        padding-top: 4%;
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            font-family: 'Nunito', sans-serif;
            justify-content: flex-end;
               
                
            li {
                display: flex;
               
                padding: 30px;
                font-size: 1.3rem;
                

                a {
                    color: rgb(17, 15, 15);  
                    text-shadow: 0px 4px 7px #777472; 

                    &:hover {
                        text-decoration: none;
                        font-size: 1.2rem;
                    }

                }
            }
        }
    }
}

.redesSocialesIconos {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
    
                    .icono{
                        max-width: 45%;
                        
                    }
   
    
}