
.body {
    border: 2px solid rgb(77, 75, 75);
    font-size: 16px;
    background-color: black;
  }
  


/* section 1 imagen fluid BS apaisada*/
.text-center-Lu {
    
    margin-top: 0.2%;
}

/* main grilla gris. cancha de tenis*/



.cuerpoCanchaTenis {
    min-height: 100vh;
    padding-top: 0.2%;
    display: grid;
    grid-template-areas: 
    "columnaIzquierda barraArriba barraArriba columnaDerecha"
    "columnaIzquierda cuadranteNO cuadranteNE columnaDerecha"
    "columnaIzquierdaS cuadranteSO cuadranteSE columnaDerechaS"
    "columnaIzquierdaS barraAbajo barraAbajo columnaDerechaS";
    grid-template-columns: 12.5% 37.5% 37.5% 12.5%;
    grid-template-rows:310px 400px 400px 310px;
    gap: 0.5%;
}

.barraArriba {
    grid-area: barraArriba;
    border: 2px solid rgb(126, 122, 122); 
 }

 
.pelotitaAnimada {
    width: 1em;
    height: 1em;
    border-radius: 50%;  
    margin-top: 4%;
    margin-left: 40%;
    position: absolute;      
}

.pelotitaAnimadaImagen {
    width: 1em;
    height: 1em;
    border-radius: 50%;  
}

.pelotitaAnimada {
    animation: pelotitaAnimada 3s
}

@keyframes pelotitaAnimada {
    30% {        
        transform: rotate(-8deg) translateX(-300px) scale(6);
    }
    70% {        
        transform: rotate(45deg) translateX(650px) scale(3)
    }
}


.columnaIzquierda {
    grid-area: columnaIzquierda;
    border: 2px solid rgb(126, 122, 122);  
}    

.columnaIzquierdaS {
    grid-area: columnaIzquierdaS;
    border: 2px solid rgb(126, 122, 122); 
 }    


#cuadranteNO {
    grid-area: cuadranteNO;
    border: 2px solid rgb(126, 122, 122);  
}

#cuadranteNO {
    grid-area: cuadranteNO;
    border: 2px solid rgb(126, 122, 122);  
}

#cuadranteNE {
    grid-area: cuadranteNE;
    border: 2px solid rgb(126, 122, 122);  
}

#cuadranteSO {
    grid-area: cuadranteSO;
    border: 2px solid rgb(126, 122, 122);
}

#cuadranteSE {
    grid-area: cuadranteSE;
    border: 2px solid rgb(126, 122, 122);  
}

.columnaDerecha {
    grid-area:columnaDerecha;
    border: 2px solid rgb(126, 122, 122); 
}

.columnaDerechaS {
    grid-area:columnaDerechaS;
    border: 2px solid rgb(126, 122, 122); 
}

.barraAbajo {
    grid-area: barraAbajo;
    border: 2px solid rgb(126, 122, 122); 
    
}
/*fin de area delimitada con grid*/


