
.body {
    border: 2px solid rgb(77, 75, 75);
    font-size: 16px;
    background-color: black;
  }
  


/* section 1 imagen fluid BS apaisada*/
.text-center-Lu {
    @extend %bordes;
    margin-top: 0.2%;
}

/* main grilla gris. cancha de tenis*/



.cuerpoCanchaTenis {
    min-height: 100vh;
    padding-top: 0.2%;
    display: grid;
    grid-template-areas: 
    "columnaIzquierda barraArriba barraArriba columnaDerecha"
    "columnaIzquierda cuadranteNO cuadranteNE columnaDerecha"
    "columnaIzquierdaS cuadranteSO cuadranteSE columnaDerechaS"
    "columnaIzquierdaS barraAbajo barraAbajo columnaDerechaS";
    grid-template-columns: 12.5% 37.5% 37.5% 12.5%;
    grid-template-rows:310px 400px 400px 310px;
    gap: 0.5%;
    @extend %bordes;  
}

.barraArriba {
    grid-area: barraArriba;
   @extend %bordes; 
 }

 
.pelotitaAnimada {
    width: 1em;
    height: 1em;
    border-radius: 50%;  
    margin-top: 4%;
    margin-left: 40%;
    bottom:7%;
    right: 5%;
    position: fixed;      
}

.pelotitaAnimadaImagen {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;  
}

.pelotitaAnimada {
    animation: pelotitaAnimada 2s
}

@keyframes pelotitaAnimada {
    30% {        
        transform: rotate(45deg) translateX(-650px) scale(6);
    }
    
}


.columnaIzquierda {
    grid-area: columnaIzquierda;
    @extend %bordes; 
}    

.columnaIzquierdaS {
    grid-area: columnaIzquierdaS;
    @extend %bordes; 
 }    


#cuadranteNO {
    grid-area: cuadranteNO;
    @extend %bordes; 
}

#cuadranteNO {
    grid-area: cuadranteNO;
    @extend %bordes;  
}

#cuadranteNE {
    grid-area: cuadranteNE;
    @extend %bordes;   
}

#cuadranteSO {
    grid-area: cuadranteSO;
    @extend %bordes; 
}

#cuadranteSE {
    grid-area: cuadranteSE;
    @extend %bordes;   
}

.columnaDerecha {
    grid-area:columnaDerecha;
    @extend %bordes;  
}

.columnaDerechaS {
    grid-area:columnaDerechaS;
    @extend %bordes;  
}

.barraAbajo {
    grid-area: barraAbajo;
    @extend %bordes; 
    
}
/*fin de area delimitada con grid*/


