@import "./base/reset";
@import "./base/typography";
@import "./base/variables";
@import "./components/layouts";
@import "./components/header";
@import "./components/footer";


/* seccion 3*/

.inscripcion {
    position: fixed;
    bottom: 3%;
    right: 1%;
    text-align: center;
}

.inscripcion:hover {
    transition: all 1s;
    transform: scale(1.3);
}

.pelota {
    width: 55px;
    height: auto;
    border-radius: 50%;
}


.barraArriba {
    grid-area: barraArriba;
   
    background-repeat: no-repeat;
    background-position: right;
    border: 2px solid rgb(126, 122, 122); 
    display: flex;
    flex-direction: column; 
 }

 h1{
    font-family: 'Nunito', sans-serif;
 }

/* fin seccion 3*/




